<body class="app header-fixed sidebar-hidden aside-menu-fixed aside-menu-hidden">
    <header class="app-header navbar">
        <a class="navbar-brand" href="#"></a>
    </header>

    <div class="app-body">
        
        <!-- Main content -->
        <main class="main">
            <div class="container-fluid">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-sm-12 col-lg-7">
                            <div class="card">
                                <div class="card-block" style="padding: 0px;">
                                    <div class="row">
                                        <div class="col-sm-12  col-lg-12">
                                            <h5 class="card-title mb-0 dropShadow" style="position: absolute; padding: 15px 20px;">
                                                <i class="fa fa-video-camera"></i> Live View
                                            </h5>
                                            <canvas id="videoCanvas">
                                                <p>
                                                    Please use a browser that supports the Canvas Element, like
                                                    <a href="http://www.google.com/chrome">Chrome</a>,
                                                    <a href="http://www.mozilla.com/firefox/">Firefox</a>,
                                                    <a href="http://www.apple.com/safari/">Safari</a> or Internet Explorer 10
                                                </p>
                                            </canvas>
                                            <script type="text/javascript" src="jsmpg.js"></script>
                                            <script type="text/javascript">
                                                // Setup the WebSocket connection and start the player
                                                var client = new WebSocket( 'ws://127.0.0.1:8084/' );

                                                var canvas = document.glementById('videoCanvas');
                                                var player = new jsmpeg(client, {canvas:canvas});
                                            </script>
                                            <!-- <div class="small text-muted">November 2015</div> -->
                                        </div>
                                        <!--/.col-->

                                        <!-- Floating buttons -->
                                        <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
                                            <div class="btn-group mr-1" data-toggle="buttons" aria-label="First group" style="position: absolute; right:0px; top:15px;">
                                                <button type="button" class="btn btn-outline-secondary float-right"><i class="fa fa-arrow-up"></i>
                                                </button>
                                                <button type="button" class="btn btn-outline-secondary float-right"><i class="fa fa-arrow-down"></i>
                                                </button>
                                                <button type="button" class="btn btn-outline-secondary float-right"><i class="fa fa-arrow-left"></i>
                                                </button>
                                                <button type="button" class="btn btn-outline-secondary float-right"><i class="fa fa-arrow-right"></i>
                                                </button>
                                            </div>
                                        </div>

                                        <!-- GoPro Status -->
                                        <p class="card-title mb-0 dropShadow" style="position: absolute; padding: 15px 20px; bottom: 0px; right: 0px;">
                                                <i class="fa fa-battery-full"></i> 90%
                                            </p>
                                        <!--/.col-->
                                    </div>
                                    <!--/.row-->
                                </div>
                                <!--
                                <div class="card-footer">
                                </div>
                                -->
                            </div>
                        </div>

                        <div class="col-sm-12 col-lg-5">
                            <div class="row">
                                <div class="col-sm-4 col-lg-4">
                                    <!-- First card -->
                                    <div class="card card-inverse card-primary">
                                        <div class="card-block pb-0">
                                            <h4 class="mb-0">Action 1</h4>
                                            <p>Description</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4 col-lg-4">
                                    <!-- Second card -->
                                    <div class="card card-inverse card-primary">
                                        <div class="card-block pb-0">
                                            <h4 class="mb-0">Action 2</h4>
                                            <p>Description</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4 col-lg-4">

                                    <!-- Fourth card -->
                                    <div class="card card-inverse card-primary">
                                        <div class="card-block pb-0">
                                            <h4 class="mb-0">Action 3</h4>
                                            <p>Description</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    
                        
                            <div class="row">
                                <div class="col-sm-4 col-lg-4">
                                    <!-- Third card -->
                                    <div class="card card-inverse card-primary">
                                        <div class="card-block pb-0">
                                            <h4 class="mb-0">Action 4</h4>
                                            <p>Description</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-lg-4">

                                    <!-- Fourth card -->
                                    <div class="card card-inverse card-primary">
                                        <div class="card-block pb-0">
                                            <h4 class="mb-0">Action 5</h4>
                                            <p>Description</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4 col-lg-4">

                                    <!-- Fourth card -->
                                    <div class="card card-inverse card-primary">
                                        <div class="card-block pb-0">
                                            <h4 class="mb-0">Action 6</h4>
                                            <p>Description</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Charts -->
                    <div class="row">
                        <div class="col-sm-3 col-lg-3">
                            <!-- First card -->
                            <div class="card card-inverse card-secondary">
                                <div class="card-block p-0 clearfix">
                                    <i class="fa fa-thermometer-3 bg-primary p-2 font-2xl mr-1 float-left"></i>
                                    <div class="h5 text-primary mb-0 pt-1">23 °C</div>
                                    <div class="text-muted text-uppercase font-weight-bold font-xs">Temperature</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3 col-lg-3">
                            <!-- Second card -->
                            <div class="card card-inverse card-secondary">
                                <div class="card-block p-0 clearfix">
                                    <i class="fa fa-tasks bg-primary p-2 font-2xl mr-1 float-left"></i>
                                    <div class="h5 text-primary mb-0 pt-1">0.2 g / 0.8 g / 1.0 g</div>
                                    <div class="text-muted text-uppercase font-weight-bold font-xs">Accelerometer</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3 col-lg-3">

                            <!-- Fourth card -->
                            <div class="card card-inverse card-secondary">
                                <div class="card-block p-0 clearfix">
                                    <i class="fa fa-signal bg-primary p-2 font-2xl mr-1 float-left"></i>
                                    <div class="h5 text-primary mb-0 pt-1">75 %</div>
                                    <div class="text-muted text-uppercase font-weight-bold font-xs">XBee Signal</div>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-3 col-lg-3">

                            <!-- Fourth card -->
                            <div class="card card-inverse card-secondary">
                                <div class="card-block p-0 clearfix">
                                    <i class="fa fa-blind bg-primary p-2 font-2xl mr-1 float-left"></i>
                                    <div class="h5 text-primary mb-0 pt-1">31 cm</div>
                                    <div class="text-muted text-uppercase font-weight-bold font-xs">Obstacle distance</div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- /.conainer-fluid -->
        </main>


    </div>

</body>